---
const { note } = Astro.props;
---

<section class=`relative hover:scale-105 transition-all duration-500 ease-in-out`>
  <div class="max-w-6xl mx-auto px-4 sm:px-6 py-8 text-md text-center font-medium flex items-center">
    <slot>
      {note}
    </slot>
  </div>
</section>
