---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';
import Note from '~/components/widgets/Note.astro';
import Steps from '~/components/widgets/Steps.astro';
import HeroSection from '~/components/react/HeroSection.astro';
import QuickLinks from '~/components/react/QuickLinks.astro';
import Contact from '~/components/react/ContactForm';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout metadata={meta}>
  <HeroSection />
  <Note
    note=" Antikoncepce byla historicky používána již před tisíci lety, například v antickém Řecku se používaly výtažky z rostlin jako kmeny zeleného jalovce nebo pelyněk."
  />
  <QuickLinks />

  <!-- Napsali jsme -->
  <section
    class="relative bg-gradient-to-br from-slate-50 via-slate-200 to-pink-100 pt-5 sm:pt-20 md:pt-20 lg:pt-20 xl:pt-20"
  >
    <h2 class="text-3xl md:text-5xl font-bold text-center text-gray-800">Články</h2>
    <div class="max-w-6xl mx-auto px-4 sm:px-6 py-4 text-md text-center font-medium">
      <BlogLatestPosts />
    </div>
    <div class="absolute bottom-0 left-0 right-0 h-10 bg-gradient-to-b from-transparent via-white to-white"></div>
  </section>
  <Steps
    title="Pár dobrých rad..."
    items={[
      {
        title: 'Hormonální antikoncepce nechrání před sexuálně přenosnými nemocemi',
        description:
          'Hormonální antikoncepce nechrání před sexuálně přenosnými nemocemi. S ohledem na zvyšující se riziko infekce AIDS se při příležitostném sexuálním styku doporučuje současné používání kondomu.',
        icon: 'tabler:circle-1',
      },
      {
        title: 'Kouření',
        description:
          'Kouření, zvláště u žen starších 35 let, zvyšuje riziko vzniku trombózy. Rozhodněte se prosím, zda chcete kouřit nebo využívat výhody hormonální antikoncepce.',
        icon: 'tabler:circle-2',
      },
      {
        title: 'Antikoncepční tablety jsou léčivým přípravkem',
        description:
          'Antikoncepční tablety jsou léčivo. Výběr a předepsání prvních tablet, stejně jako jejich změna, jsou úkolem gynekologa. Během používání antikoncepčních tablet doporučujeme každoroční gynekologickou kontrolu. Při pravidelné lékařské prohlídce mohou být možné rizikové faktory a počínající onemocnění rozpoznány včas a s vysokou pravděpodobností vyléčeny',
        icon: 'tabler:circle-3',
      },
      {
        title: 'S užíváním tablet se může začít 1. nebo 5. den cyklu.',
        description:
          'S užíváním tablet se může začít 1. nebo 5. den cyklu. Pokud se začnou tablety užívat 1. den cyklu, pak nastává antikoncepční účinek okamžitě, pokud 5. den cyklu, antikoncepční účinek nastává až po týdnu užívání tablet. Tablety je třeba užívat vždy ve stejný čas v pořadí označeném na blistru. Po využívání tablet s účinnou látkou nastává buď užívání placebo tablet (bez účinné látky), nebo pauza bez užívání tablet. Tato pauza trvá 4-7 dní dle typu antikoncepce. Během tohoto intervalu se zpravidla dostaví menstruaci podobné krvácení. Tablety z dalšího blistru začínáme užívat po doporučené pauze bez ohledu na krvácení.',
        icon: 'tabler:circle-4',
      },
      {
        title: 'Pokud jste si zapomněla vzít tabletu v určený čas a prodlení je kratší než povolený interval',
        description:
          'Záleží na typu antikoncepce, některé přípravky dovolují opomenutí maximálně 12 hodin, některé dovolují opomenutí 24 hodin. Pokud jste si zapomněla vzít tabletu v určený čas a prodlení není delší než povolený interval, užijte okamžitě zapomenutou tabletu a pokračujte v pravidelném užívání. V tomto případě je antikoncepce stále stejně spolehlivá.',
        icon: 'tabler:circle-5',
      },
      {
        title: 'Pokud je prodlení delší než povolený interval',
        description:
          'Pokud je prodlení delší, užijte ihned zapomenutou tabletu a pokračujte v pravidelném užívání. Minimálně 7 následujících dní je třeba používat i bariérovou antikoncepci (kondom).',
        icon: 'tabler:circle-6',
      },
      {
        title: 'Pokud jste si zapomněla vzít 2 a více tablet',
        description:
          'Návod, jak postupovat při opomenutí jedné nebo více tablet, je v každé Příbalové informaci. Postupujte vždy podle tohoto návodu. Při vynechání více tablet je antikoncepční ochrana narušena, je třeba používat i bariérovou antikoncepci (kondom) a může se objevit i nepravidelné krvácení. ',
        icon: 'tabler:circle-7',
      },
      {
        title: 'Spolehlivost kontracepčního účinku',
        description:
          'V případě zvracení, průjmu a souběžného užívání léků, které snižují účinnost antikoncepce, není kontracepční účinek spolehlivý. Po zbývající dobu cyklu používejte ještě další metodu antikoncepce.',
        icon: 'tabler:circle-8',
      },
      {
        title: 'Další metody antikocepce',
        description:
          'Mějte vždy po ruce další metodu antikoncepce, např. kondom nebo pohotovostní antikoncepci, pro případ neplánovaného příležitostného styku.',
        icon: 'tabler:circle-9',
      },
      {
        title: 'Více se dozvíte v <a href="/clanky">našich článcích</a>',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: '~/assets/images/antikoncepce-com-par-dobrych-rad.png',
      alt: 'Steps image',
    }}
  />
  <section
    class="w-full py-5 xl:py-10 lg:py-10 md:py-10 sm:py-5 bg-gradient-to-br from-gray-50 via-slate-50 to-pink-50 shadow-2xl"
  >
    <div class="mx-auto max-w-4xl p-5 flex justify-center align-middle">
      <Contact client:load client:visible />
    </div>
  </section>
</Layout>
