---
import { Image } from 'astro:assets';
import LogoImage from '../assets/images/antikoncepce-com-officialni-logo.png';
---

<span class="flex justify-center items-center font-bold text-2xl">
  <Image src={LogoImage} width={50} height={70} format={'png'} alt="Oficiální logo" />
   Antikoncepce.com
</span>
