<section
  class=`bg-cover bg-center h-screen md:h-auto md:py-56 lg:scroll-py-96 bg-no-repeat md:bg-center lg:bg-center bg-fixed
    
    `
  style={{ backgroundImage: 'url(/images/nouzova_antikoncepce_bg.png)' }}
>
  <div
    class="flex flex-col items-center justify-center h-full lg:min-h-[400] bg-gradient-to-br from-transparent via-transparent to-slate-300 py-20 px-4 md:px-0 lg:px-0 text-center"
  >
    <h1 class="text-5xl font-bold text-gradient mb-6">VŠE O ANTIKONCEPCI</h1>
    <p class="text-2xl text-black mb-8 text-white-gradient">Kompletní průvodce nouzovou antikoncepcí</p>
    <a
      href="/kompletni-pruvodce-nouzovou-antikoncepci/"
      class="bg-slate-800 hover:bg-purple-600 text-white font-semibold py-3 px-6 rounded border-2 border-purple-600"
      >Přejít na průvodce</a
    >
  </div>
</section>
