---

---
<section class="w-full py-10 bg-gradient-to-br from-white via-slate-100 to-purple-100 shadow-none xl:shadow-lg lg:shadow-lg md:shadow-lg">
    <div class="mx-auto max-w-6xl px-5 grid grid-cols-1 sm:grid-cols-3 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3 gap-1 content-center items-center justify-items-center">
        <a href="/prerusovana-souloz" onclick="gtag('event', 'button-click', {
            'event_category': 'buttons',
            'event_label': 'prerusovana-souloz',
            'event_value': 150,
            'non_interaction': false
          });">
            <button class="bg-gradient-to-br from-purple-800 via-purple-700 to-purple-600 text-white font-semibold py-3 px-6 rounded hover:scale-105 transition-all duration-700 ease-linear shadow-lg hover:via-purple-900 hover:to-purple-900 hover:from-purple-800">Jak na přerušovanou soulož?</button></a>
        <a href="/caste-dotazy#ktera-tableta-je-nejlepsi" onclick="gtag('event', 'button-click', {
            'event_category': 'buttons',
            'event_label': 'caste-dotazy-tableta',
            'event_value': 150,
            'non_interaction': false
          });">
        <button class="bg-gradient-to-br from-purple-800 via-purple-700 to-purple-600 text-white font-semibold py-3 px-6 rounded hover:scale-105 transition-all duration-700 ease-linear shadow-lg hover:via-purple-900 hover:to-purple-900 hover:from-purple-800">Která tableta je nejlepší?</button></a>
        <a href="/caste-dotazy#kdy-se-obratit-na-gynekologa" onclick="gtag('event', 'button-click', {
            'event_category': 'buttons',
            'event_label': 'caste-dotazy-gynekolog',
            'event_value': 150,
            'non_interaction': false
          });">
        <button class="bg-gradient-to-br from-purple-800 via-purple-700 to-purple-600 text-white font-semibold py-3 px-6 rounded hover:scale-105 transition-all duration-700 ease-linear shadow-lg hover:via-purple-900 hover:to-purple-900 hover:from-purple-800">Kdy se obrátit na gynekologa?</button></a>

    </div>
  </section>